* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.wrapper {
   background-color: #eee;
   width: 550px;
   margin: 10px auto;
   padding: 30px;
}

input {
   display: block;
   padding: 10px;
   width: 100%;
   margin: 10px 0;
}

.message {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   text-align: center;
   padding: 10px;
   margin: 10px 0;
}

.success {
   background-color: #8af48a;
   border: 1px solid #009900;
   /* color: #009900; */
}

.error {
   background-color: #f48a8a;
   border: 1px solid #990000;
}

.warning {
   background-color: #f4e48a;
   border: 1px solid #996100;
}